@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
   background-image: radial-gradient(circle at 65% 15%, #bc9f6b1c 0%, #bc9f6b1c 3%,transparent 3%, transparent 100%),radial-gradient(circle at 40% 33%, #bc9f6b0d 0%, #bc9f6b0d 3%,transparent 3%, transparent 100%),radial-gradient(circle at 9% 92%, #bc9f6b0d 0%, #bc9f6b0d 3%,transparent 3%, transparent 100%),radial-gradient(circle at 84% 0%, #bc9f6b1c 0%, #bc9f6b1c 7%,transparent 7%, transparent 100%),radial-gradient(circle at 97% 94%, #bc9f6b0d 0%, #bc9f6b0d 7%,transparent 7%, transparent 100%),radial-gradient(circle at 13% 95%, rgba(188,159,107, 0.12) 0%, rgba(188,159,107, 0.12) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 77% 8%, #bc9f6b0d 0%, #bc9f6b0d 7%,transparent 7%, transparent 100%),radial-gradient(circle at 58% 0%, #bc9f6b0d 0%, #bc9f6b0d 7%,transparent 7%, transparent 100%),radial-gradient(circle at 76% 71%, rgba(188,159,107, 0.12) 0%, rgba(188,159,107, 0.12) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 88% 74%, #bc9f6b1c 0%, #bc9f6b1c 7%,transparent 7%, transparent 100%),radial-gradient(circle at 74% 99%, #bc9f6b0d 0%, #bc9f6b0d 7%,transparent 7%, transparent 100%),radial-gradient(circle at 16% 56%, rgba(188,159,107, 0.12) 0%, rgba(188,159,107, 0.12) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 25% 4%, rgba(188,159,107, 0.12) 0%, rgba(188,159,107, 0.12) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 54% 83%, #bc9f6b0d 0%, #bc9f6b0d 5%,transparent 5%, transparent 100%),radial-gradient(circle at 70% 60%, #bc9f6b0d 0%, #bc9f6b0d 5%,transparent 5%, transparent 100%),radial-gradient(circle at 23% 73%, #bc9f6b0d 0%, #bc9f6b0d 5%,transparent 5%, transparent 100%),radial-gradient(circle at 63% 81%, #bc9f6b1c 0%, #bc9f6b1c 5%,transparent 5%, transparent 100%),radial-gradient(circle at 56% 58%, #bc9f6b0d 0%, #bc9f6b0d 5%,transparent 5%, transparent 100%),radial-gradient(circle at 64% 68%, #bc9f6b0d 0%, #bc9f6b0d 5%,transparent 5%, transparent 100%),radial-gradient(circle at 52% 48%, #bc9f6b1c 0%, #bc9f6b1c 5%,transparent 5%, transparent 100%),linear-gradient(135deg, rgb(246,234,226),rgb(252,248,244));
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #bc9f6b;
  background: transparent;
  font-size: 1em;
  border: 2px solid #bc9f6b;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 3px;
  margin: 10px;
  padding: 7px 15px;
  font-family: 'Poppins', sans-serif;
  transition: 0.2s;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background: #bc9f6b;
}

a:focus {
  outline: transparent;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.journal-container {
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
}

.journal-column {
  min-width: 200px;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 20px;
  margin: 20px;
  background: #f7eee6;
  box-shadow: 0 4px 32px 0 #bc9f6b66;
  border-radius: 10px;
  border: 2px solid #bc9f6b73;
}

.glowing-text {
  font-size: 4em;
  padding: 20px;
  text-align: center;
  font-weight: normal;
  font-family: 'Fredoka One', cursive;
  background: -webkit-linear-gradient(#dab87a, #584217);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: name 3s infinite ease-in-out;
}

.intro {
  width: 60vw;
  margin: 1em;
  line-height: 1.5em;
  font-size: 1.2em;
  text-align: center;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.result-header {
  font-size: 3em;
  text-align: center;
  font-weight: normal;
  font-family: 'Fredoka One', cursive;
  background: -webkit-linear-gradient(#fff, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  margin-bottom: 50px;
}

.speech-input {
  font-size: 2em;
  text-align: center;
  font-weight: normal;
  font-family: 'Alex Brush', cursive;
  /* background: -webkit-linear-gradient(#fff, #d6bd69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  overflow: hidden;
  margin-bottom: 50px;
}

.speech-output {
  font-size: 2.5em;
  text-align: center;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  /* background: -webkit-linear-gradient(#fff, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  overflow: hidden;
}

@keyframes name {
  50% {
    text-shadow: #fff2e5 1px 0 10px;
  }
}

.btns {
  margin: 30px;
  text-align: center;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: center;
}

.btn{
    justify-self: center;
    padding: 20px 0;
    position: absolute;
    bottom: 10px;
}
.voice-button {
    margin: 50px 0;
  /* margin: 50px 0;
  padding-bottom: 25px;
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; */
}

.voice-button:after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.voice-button-icon {
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 80px;
  height: 80px;
  color: #1a1a1a;
  background: transparent;
  border-radius: 50%;
  -webkit-transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
    -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
    -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
    transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
    transform 200ms cubic-bezier(0.2, 0, 0.7, 1),
    -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    border: 1px solid #bc9f6b73;
}

.voice-button-icon:hover {
  box-shadow: 0 0 1px 15px hsla(39, 38%, 58%, 0.4),
    0 0 1px 30px hsla(39, 38%, 58%, 0.2), 0 0 1px 45px hsla(39, 38%, 58%, 0.1);
}

.voice-button-icon:focus {
  outline: transparent;
}

.input-question {
  margin-top: 50px;
  text-align: center;
}

.question_label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.question_input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 300px;
  display: block;
  transition: all 0.3s;
}

.question_input:focus {
  outline: transparent;
}

.question_input:placeholder-shown + .question_label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.star-box div {
  pointer-events: none;
  color: white;
  position: absolute;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.star-box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: bkg 10s linear infinite;
}

.star-box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: bkg 7s linear infinite;
}

.star-box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: bkg 9s linear infinite;
}

.star-box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: bkg 10s linear infinite;
}

.star-box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: bkg 6s linear infinite;
}

.star-box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: bkg 12s linear infinite;
}

.star-box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: bkg 15s linear infinite;
}

.star-box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: bkg 16s linear infinite;
}

.star-box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: bkg 9s linear infinite;
}

.star-box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: bkg 5s linear infinite;
}

@keyframes bkg {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(5) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

/* Voice Animation Bar */

.voice-coder {
  position: relative;
  height: 5vh;
  display: grid;
  grid-template-columns: repeat(45, 4px);
  grid-template-rows: 100%;
  grid-gap: 14px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.voice-coder span {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    #241d11 5%,
    #bc9f6b,
    #8f723d,
    #3d321e,
    #8f723d,
    #bc9f6b,
    #241d11 85%
  );
  animation: bounce-001;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 900ms;
}
.voice-coder span:nth-child(1) {
  animation-delay: 50ms;
}
.voice-coder span:nth-child(2) {
  animation-delay: 100ms;
}
.voice-coder span:nth-child(3) {
  animation-delay: 150ms;
}
.voice-coder span:nth-child(4) {
  animation-delay: 200ms;
}
.voice-coder span:nth-child(5) {
  animation-delay: 250ms;
}
.voice-coder span:nth-child(6) {
  animation-delay: 300ms;
}
.voice-coder span:nth-child(7) {
  animation-delay: 350ms;
}
.voice-coder span:nth-child(8) {
  animation-delay: 400ms;
}
.voice-coder span:nth-child(9) {
  animation-delay: 450ms;
}
.voice-coder span:nth-child(10) {
  animation-delay: 500ms;
}
.voice-coder span:nth-child(11) {
  animation-delay: 550ms;
}
.voice-coder span:nth-child(12) {
  animation-delay: 600ms;
}
.voice-coder span:nth-child(13) {
  animation-delay: 650ms;
}
.voice-coder span:nth-child(14) {
  animation-delay: 700ms;
}
.voice-coder span:nth-child(15) {
  animation-delay: 750ms;
}
.voice-coder span:nth-child(16) {
  animation-delay: 800ms;
}
.voice-coder span:nth-child(17) {
  animation-delay: 850ms;
}
.voice-coder span:nth-child(18) {
  animation-delay: 900ms;
}
.voice-coder span:nth-child(19) {
  animation-delay: 950ms;
}
.voice-coder span:nth-child(20) {
  animation-delay: 1000ms;
}
.voice-coder span:nth-child(21) {
  animation-delay: 1050ms;
}
.voice-coder span:nth-child(22) {
  animation-delay: 1100ms;
}
.voice-coder span:nth-child(23) {
  animation-delay: 1150ms;
}
.voice-coder span:nth-child(24) {
  animation-delay: 1200ms;
}
.voice-coder span:nth-child(25) {
  animation-delay: 1250ms;
}
.voice-coder span:nth-child(26) {
  animation-delay: 1300ms;
}
.voice-coder span:nth-child(27) {
  animation-delay: 1350ms;
}
.voice-coder span:nth-child(28) {
  animation-delay: 1400ms;
}
.voice-coder span:nth-child(29) {
  animation-delay: 1450ms;
}
.voice-coder span:nth-child(30) {
  animation-delay: 1500ms;
}
.voice-coder span:nth-child(31) {
  animation-delay: 1550ms;
}
.voice-coder span:nth-child(32) {
  animation-delay: 1600ms;
}
.voice-coder span:nth-child(33) {
  animation-delay: 1650ms;
}
.voice-coder span:nth-child(34) {
  animation-delay: 1700ms;
}
.voice-coder span:nth-child(35) {
  animation-delay: 1750ms;
}
.voice-coder span:nth-child(36) {
  animation-delay: 1800ms;
}
.voice-coder span:nth-child(37) {
  animation-delay: 1850ms;
}
.voice-coder span:nth-child(38) {
  animation-delay: 1900ms;
}
.voice-coder span:nth-child(39) {
  animation-delay: 1950ms;
}
.voice-coder span:nth-child(40) {
  animation-delay: 2000ms;
}
.voice-coder span:nth-child(41) {
  animation-delay: 2050ms;
}
.voice-coder span:nth-child(42) {
  animation-delay: 2100ms;
}
.voice-coder span:nth-child(43) {
  animation-delay: 2150ms;
}
.voice-coder span:nth-child(44) {
  animation-delay: 2200ms;
}
.voice-coder span:nth-child(45) {
  animation-delay: 2250ms;
}
.voice-coder span:nth-child(2n) {
  animation-name: bounce-002;
  animation-timing-function: ease-out;
}
.voice-coder span:nth-child(3n) {
  animation-name: bounce-003;
  animation-timing-function: linear;
}
.voice-coder:after {
  position: absolute;
  z-index: 3;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;
  background: url('overlay.png') no-repeat 50% 50%;
}
.voice-coder:before {
  position: absolute;
  top: 20%;
  left: -15%;
  right: -15%;
  bottom: 20%;
  background: radial-gradient(lime, cyan, purple, #201c26 55%);
  transform: scale(0.5);
  opacity: 0.2;
}

/* Text Field Area with submit */

.search-box,
.close-icon,
.search-wrapper {
  position: relative;
  padding: 10px;
}
.close-icon {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
  content: '->';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #3eff5f;
  z-index: 1;
  right: 35px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: rgb(28, 255, 122);
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
  display: none;
}

@media all and (min-width: 600px) {
  .hint-box h1 {
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 25px;
  }
}

@media all and (max-width: 600px) {
  .journal-container {flex-direction: column;}
    
}